AddDefaultCharset utf-8
php_flag display_errors on
RewriteEngine on 

RewriteRule ^(js|css|img|fonts)/ - [S=9]
RewriteRule ^api\.php - [S=9]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ru(.*)$ index.php?lang=ru&data=$1 [L,QSA]
RewriteRule ^lt(.*)$ index.php?lang=lt&data=$1 [L,QSA]
RewriteRule ^en(.*)$ index.php?lang=en&data=$1 [L,QSA]
RewriteRule ^(.*)$ index.php?data=$1 [L,QSA]
